.banner{
	width: 100%;
}

.gap{
	margin-right: 10px;
}

.pw{
	margin-bottom: 40px;
	margin-top: 30px;
}

.card{
	text-align: center;
	margin-bottom: 20px;
}

.ft{
	text-align: center;
	background: #000;
	color: #FFF;
	padding: 15px;
}
body{
	background: url("../images/tv.jpg") fixed;

	background-size: cover;
}

.tc{
	background: #FFF;
	text-align: center;
}